<table id="results" class="table table-sm table-condensed table-striped results-table">
    <thead>
    <tr class="header">
        <th class="text-center">Qty</th>
        <th>Item</th>
        <th class="text-right"><span class="nowrap">Volume (m<sup>3</sup>)</span></th>
        <th class="text-right"><span class="nowrap">Single (sell)<br>Single (buy)</span></th>
        <th class="text-right"><span class="nowrap">Total (sell)<br>Total (buy)</span></th>
        <th class="text-right"><span class="nowrap">ISK/m3 (sell)</span><br><span class="nowrap">ISK/m3 (buy)</span></th>
    </tr>
    </thead>
    <tbody>
    {{range $i, $item := .Items}}
    {{ if (or $.ShowFull (lt $i 100)) }}
    <tr class="{{if (or (eq $item.TypeID 0) $item.Rejected )}}danger{{else if eq $item.Prices.All.Volume 0}}info{{end}}">
        <td class="numeric-cell text-center" data-sort-value="-{{$item.Quantity}}">{{comma $item.Quantity}}</td>
        <td>
            {{if (and $item.TypeName (lt $i 30))}}
            <a href="/item/{{$item.TypeID}}">
                <img class="pull-left media-object" src="https://image.eveonline.com/Type/{{$item.TypeID}}_32.png" alt="{{$item.TypeName}}">
            </a>
            &nbsp;
            {{end}}
            <a href="/item/{{$item.TypeID}}">
                {{if $item.TypeName}}{{$item.TypeName}}{{else}}{{$item.Name}}{{end}}
                {{if $item.Extra.BPC}} (Copy) <span class="badge badge-default">Runs: {{$item.Extra.BPCRuns}}</span>{{end}}
                {{if (ne $item.PriceAdjustment 0.0)}}({{ $item.PriceAdjustment | printf "%2.0f" }}%){{end}}
            </a>
        </td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.TypeVolume | printf "%f"}}">{{humanizeVolume $item.TypeVolume }}</td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.SingleRepresentativePrice | printf "%f"}}">
        {{ if (not $item.Rejected) }}
            {{commaf $item.Prices.Sell.Min}}<br />
            {{commaf $item.Prices.Buy.Max}}
        {{ end }}
        </td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.RepresentativePrice | printf "%f"}}">
        {{ if (not $item.Rejected) }}
            {{commaf $item.SellTotal}}<br />
            {{commaf $item.BuyTotal}}
        {{ end }}
        </td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.SellISKVolume | printf "%f"}}">
        {{ if (not $item.Rejected) }}
            {{commaf $item.SellISKVolume}}<br />
            {{commaf $item.BuyISKVolume}}
        {{ end }}
        </td>
    </tr>
    {{end}}
    {{end}}
    </tbody>
    <tfoot>
    {{if (and (not $.ShowFull) (ge (len .Items) 100))}}
    <tr>
        <td class="text-center bg-warning text-white" colspan="6">There are too many results to show. <a href="/a/{{.ID}}?full=true">Click here to see all <strong>{{.Items | len }}</strong> results.</a> Warning: The page might be slow.</td>
    </tr>
    {{end}}
    <tr>
        <td></td>
        <td colspan="3" class="text-right">Total Volume:<br/>
            Total Sell Value:<br/>
            Total Buy Value:<br/></td>
        <td class="text-right">{{commaf .Totals.Volume}}<br/>
            {{commaf .Totals.Sell}}<br/>
            {{commaf .Totals.Buy}}
        </td>
        <td></td>
    </tr>
    </tfoot>
</table>
