<table id="results" class="table table-sm table-condensed table-striped results-table">
    <thead>
    <tr class="header">
        <th>Item</th>
        <th class="text-right">Qty</th>
        <th class="text-right"><span class="nowrap">Jita Price (buy)</span></th>
        <th class="text-right"><span class="nowrap">Buyback Total</span></th>
    </tr>
    </thead>
    <tbody>
    {{range $i, $item := .Items}}
    <tr>
        <td nowrap>
            <a href="/item/{{$item.TypeID}}">
                <img class="pull-left media-object" src="https://image.eveonline.com/Type/{{$item.TypeID}}_32.png" alt="{{$item.TypeName}}">
                {{if $item.TypeName}}{{$item.TypeName}}{{else}}{{$item.Name}}{{end}}
            </a>
        </td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.Quantity}}">{{comma $item.Quantity}}</td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.Prices.Buy.Max | printf "%f"}}">
            {{commaf $item.Prices.Buy.Max}}
        </td>
        <td class="numeric-cell text-right" data-sort-value="-{{$item.BuyTotal | printf "%f"}}">
            {{commaf $item.BuyTotal}}
        </td>
    </tr>
    {{end}}
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td colspan="2" class="text-right">Total Volume:<br/>
            Total Buyback Offer:</td>
        <td class="text-right">{{commaf .Totals.Volume}}<br/>
            {{commaf .Totals.Buy}}
        </td>
        <td></td>
    </tr>
    </tfoot>
</table>
