{{define "title"}}IP-Org Buyback - Appraisal Result {{.Page.Appraisal.ID}} [{{.Page.Appraisal.Kind}}]{{end}}

{{define "content"}}
<!-- Delete Modal -->
<div class="modal" id="delete-appraisal-modal" tabindex="-1" role="dialog" aria-labelledby="delete-appraisal-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left" id="delete-appraisal-modal-label">Delete this appraisal?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Clicking the 'Delete' button below will delete this appraisal permanently. This action cannot be undone!
      </div>
      <div class="modal-footer">
        <form name="delete-appraisal-{{.Page.Appraisal.ID}}" action="/a/delete/{{.Page.Appraisal.ID}}" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" role="button">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Permalink Modal -->
<div class="modal" id="permalink-modal" tabindex="-1" role="dialog" aria-labelledby="permalink-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title pull-left" id="permalink-modal-label">Permanent Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="permalink-input">This link is sharable to others. Anyone with this URL will be able to see this appraisal{{if .Page.Appraisal.Private}} even though this appraisal is private{{end}}.</label>
        <input type="text" class="form-control" id="permalink-input" value="{{.UI.BaseURL}}{{.Page.Appraisal | appraisallink}}">
      </div>
      <div class="modal-footer">
        <form name="delete-appraisal-{{.Page.Appraisal.ID}}" action="/a/delete/{{.Page.Appraisal.ID}}" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Real Content -->
{{if .Page.Status}}
<div class="row">
    {{if or (eq .Page.Status.Summary "not_found") (eq .Page.Status.Summary "deleted")}}
        {{if eq .Page.Status.Summary "deleted"}}
            <p class="buyback">You deleted your contract. Please try again if you wish.</p>
        {{end}}
        <p>To submit this Buyback Offer, you will need to create a contract with these in the following way:</p>
            <ol>
                <li>Contract Type: <i class="buyback">Item Exchange</i></li>
                <li>Availability: <i><span class="buyback">Private</span> to <span class="buyback">0.0 Massive Production</span>; you can use the corp ticket <span class="buyback">0MP</span></i></li>
                <li>I will receive: <i class="buyback">{{commaf .Page.Appraisal.BuybackOffer}}</i> also called Price</li>
                <li>Expiration: <i class="buyback">2 Weeks</i> or longer</li>
                <li>Description: <i class="buyback">{{ .Page.Status.Title }}</i></li>
            </ol>
        <p>
            <a role="button" class="btn btn-primary" type="button" href="{{.Page.Appraisal | appraisallink}}">CHECK CONTRACT NOW</a></button>
            NOTE: CCP only updates contract data every 5 minutes. Please wait 5 minutes after creating your contract. Sorry, mate!
        </p>
    {{else if eq .Page.Status.Summary "accepted"}}
        <h1 class="buyback">CONGRATULATIONS! Your contract was accepted!</h1>
        <p>Your contract was found in <b class="buyback">{{ .Page.Status.Contract.LocationName }}</b>. </p>
    {{else}}
        {{if eq .Page.Status.Summary "valid"}}
            <h1 class="buyback">VALID CONTRACT FOUND!</h1>
            <p>Your contract was found in <b class="buyback">{{ .Page.Status.Contract.LocationName }}</b>. </p>
            <p>The IP-Org leadership have been notified and your contract should be accepted soon.</p>
        {{else}}
            <h1 class="text-danger">NOTICE</h1>
            {{if .Page.Status.Contract}}
                <p>Your contract was found in <b class="buyback">{{ .Page.Status.Contract.LocationName }}</b>. </p>
                <p>However, it is <i class="text-danger">{{.Page.Status.Summary}}</i></p>
            {{else}}
                <p>This Buyback Offer is <i class="text-danger">{{.Page.Status.Summary}}</i></p>
            {{end}}
            <p>If you think that this is a mistake, please contact the IP-Org leadership.</p>
            <ul>
            {{range $unused, $error := .Page.Status.Errors}}
                <li class="text-danger">{{$error}}</li>
            {{end}}
            </ul>
        {{end}}
    {{end}}
</div>
{{end}}
<div class="row">
    {{ if .Page.Appraisal.Unparsed }}
    <div class="alert alert-warning" role="alert">
      <strong>Bad lines!</strong> <strong>{{ .Page.Appraisal.Unparsed | len }}</strong> of the lines could not be parsed.
    </div>
    {{end}}

    {{if eq .Page.Appraisal.Kind "heuristic"}}
    <div class="alert alert-danger" role="alert">
    <strong>The heuristic parser was used to parse this result.</strong> This means that the format of the data you entered is unknown to Evepraisal and some guess-work was used to bring you the results below. Review closely for accuracy. If you think this is a format worth adding, <a href="https://github.com/evepraisal/go-evepraisal/issues/new?title=Unknown+Format&body=Appraisal+with+the+format:+{{.UI.BaseURLWithoutScheme}}/a/{{.Page.Appraisal.ID}}%0A%0A[Describe+the+format]" target="_blank">submit an issue on github</a>.
    </div>
    {{end}}

    {{if ne .Page.Appraisal.ID ""}}
    <div class="pull-right appraisal-options">
      <a role="button" class="btn btn-primary btn-xs" type="button" href="#permalink-modal" data-toggle="modal" data-target="#permalink-modal"><span class="glyphicon glyphicon-bookmark"></span>  Permalink</a></button>
      <a role="button" class="btn btn-default btn-xs" type="button" href="{{.Page.Appraisal | appraisallink}}.raw" target="_blank"><span class="glyphicon glyphicon-align-justify"></span> Raw</a></button>
      <a role="button" class="btn btn-default btn-xs" type="button" href="{{.Page.Appraisal | appraisallink}}.json" target="_blank"><span class="glyphicon glyphicon-chevron-right"></span> JSON</a></button>

      {{if .Page.IsOwner}}
      <a role="button" class="btn btn-danger btn-xs" type="button" href="#delete-appraisal-modal" data-toggle="modal" data-target="#delete-appraisal-modal"><span class="glyphicon glyphicon-trash"></span> Delete</a></button>
      {{end}}
    </div>
    {{end}}

    <div>
      <div>
        <p class="text-left"><strong>{{.Page.Appraisal.Kind}}</strong> priced in <strong>{{.Page.Appraisal.MarketName}}</strong> {{relativetime .Page.Appraisal.CreatedTime}}{{if (and (ne .Page.Appraisal.ID "") .Page.Appraisal.Private)}} (private){{end}}</p>
      </div>

    <div>
      <h4>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Original.Totals.Sell }} <small>estimated sell value</small></span>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Original.Totals.Buy }} <small>estimated buy value</small></span>
      </h4>
    </div>

    <div>
        <h4 class="buyback">
            <span class="nowrap">{{ prettybignumber .Page.Appraisal.BuybackOffer }}
                <small class="buyback">
                    Buyback Offer for Reprocessed/Refined Minerals
                    {{if .Page.Appraisal.IsBuybackCapped }}(Capped at {{ .Page.Appraisal.BuybackCap }}% of Jita Buy price){{end}}
                </small>
            </span>
        </h4>
    </div>

    <table id="results" class="table table-sm table-condensed table-striped results-table">
      <thead>
        <tr class="header">
          <th class="text-center">Qty</th>
          <th>Item</th>
          <th class="text-right"><span class="nowrap">Volume (m<sup>3</sup>)</span></th>
          <th class="text-right"><span class="nowrap">Single (sell)<br>Single (buy)</span></th>
          <th class="text-right"><span class="nowrap">Total (sell)<br>Total (buy)</span></th>
          <th class="text-right"><span class="nowrap">ISK/m3 (sell)</span><br><span class="nowrap">ISK/m3 (buy)</span></th>
        </tr>
      </thead>
      <tbody>
      {{range $i, $item := .Page.Appraisal.Original.Items}}
      {{ if (or $.Page.ShowFull (lt $i 100)) }}
        <tr class="{{if or (eq $item.TypeID 0) $item.Rejected}}danger{{else if eq $item.Prices.All.Volume 0}}info{{end}}">
          <td class="numeric-cell text-center" data-sort-value="-{{$item.Quantity}}">{{comma $item.Quantity}}</td>
          <td>
            {{if (and $item.TypeName (lt $i 30))}}
            <a href="/item/{{$item.TypeID}}">
              <img class="pull-left media-object" src="https://image.eveonline.com/Type/{{$item.TypeID}}_32.png" alt="{{$item.TypeName}}">
            </a>
            {{end}}
            <a href="/item/{{$item.TypeID}}">{{$item.DisplayName}}{{if $item.Extra.BPC}} (Copy) <span class="badge badge-default">Runs: {{$item.Extra.BPCRuns}}</span>{{end}}</a>
            {{if (ne $item.Efficiency 0.0)}}&nbsp;<span class="buyback">({{ $item.Qualifier }} {{ $item.Efficiency | printf "%2.0f" }}%)</span>{{end}}
          </td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.TypeVolume | printf "%f"}}">{{humanizeVolume $item.TypeVolume }}</td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.SingleRepresentativePrice | printf "%f"}}">
          {{ if (not $item.Rejected) }}
            {{commaf $item.Prices.Sell.Min}}<br />
            {{commaf $item.Prices.Buy.Max}}
          {{ end }}
          </td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.RepresentativePrice | printf "%f"}}">
          {{ if (not $item.Rejected) }}
            {{commaf $item.SellTotal}}<br />
            {{commaf $item.BuyTotal}}<br/>
            <span class="buyback" data-toggle="modal" data-target="#buyback_details_{{ $i }}">{{ commaf $item.Buyback.Totals.Buy }}</span>
          {{ else }}
            NO BUYBACK OFFER
          {{ end }}
          </td>
          <td class="numeric-cell text-right" data-sort-value="-{{$item.SellISKVolume | printf "%f"}}">
          {{ if (not $item.Rejected) }}
            {{commaf $item.SellISKVolume}}<br />
            {{commaf $item.BuyISKVolume}}
          {{ end }}
          </td>
        </tr>
      {{end}}
      {{end}}
      </tbody>
      <tfoot>
        {{if (and (not $.Page.ShowFull) (ge (len .Page.Appraisal.Original.Items) 100))}}
        <tr>
          <td class="text-center bg-warning text-white" colspan="6">There are too many results to show. <a href="/a/{{.Page.Appraisal.ID}}?full=true">Click here to see all <strong>{{.Page.Appraisal.Items | len }}</strong> results.</a> Warning: The page might be slow.</td>
        </tr>
        {{end}}
        <tr>
          <td></td>
          <td colspan="3" class="text-right">Total Volume:<br/>
            Total Sell Value:<br/>
            Total Buy Value:<br/>
            <span class="buyback">Buyback Value:</span><br/>
          </td>
          <td class="text-right">{{commaf .Page.Appraisal.Original.Totals.Volume}}<br/>
            {{commaf .Page.Appraisal.Original.Totals.Sell}}<br/>
            {{commaf .Page.Appraisal.Original.Totals.Buy}}<br/>
            <span class="buyback" data-toggle="modal" data-target="#buyback_details_summary">{{commaf .Page.Appraisal.BuybackOffer}}</span>
            </td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <script type="text/javascript">
      {{if ne .Page.Appraisal.ID ""}}
      window.history.replaceState({}, "", "{{.Page.Appraisal | appraisallink}}");
      {{end}}
      $(document).ready(function() {
        $('#permalink-modal').on('shown.bs.modal', function (event) {
          $('#permalink-input').select();
        });

        $("#results").tablesorter({
          textExtraction : function(node, table, cellIndex){
              n = $(node);
              return n.attr('data-sort-value') || n.text();
          },
          headers: {
             0: { sorter: 'digit', sortInitialOrder: 'desc' },
             2: { sorter: 'digit', sortInitialOrder: 'desc' },
             3: { sorter: 'digit', sortInitialOrder: 'desc' },
             4: { sorter: 'digit', sortInitialOrder: 'desc' },
             5: { sorter: 'digit', sortInitialOrder: 'desc' }
          }
        });
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </div>

  <div id="buyback_details_summary" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Overall Mineral Refine/Reprocess Results</h4>
        </div>
        <div class="modal-body">
          {{template "_buyback_table.html" .Page.Appraisal.Buyback }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {{range $i, $item := .Page.Appraisal.Original.Items}}
  <div id="buyback_details_{{ $i }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ $item.Quantity }} {{ $item.Name }} {{ $item.Qualifier }} {{ $item.Efficiency | printf "%2.0f" }}% Results</h4>
        </div>
        <div class="modal-body">
          {{template "_buyback_table.html" $item.Buyback }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {{end}}
</div>

{{end}}
{{template "_layout.html" .}}
