{{define "title"}}IP Buyback - Appraisal Result {{.Page.Appraisal.ID}} [{{.Page.Appraisal.Kind}}]{{end}}

{{define "content"}}
<div class="row">
  <div class="col-lg-4">
    {{template "_paste-panel.html" .}}
  </div>

  <div class="col-lg-8">
    {{ if .Page.Appraisal.Unparsed }}
    <div class="alert alert-warning" role="alert">
      <strong>Bad lines!</strong> <strong>{{ .Page.Appraisal.Unparsed | len }}</strong> of the lines could not be parsed.
    </div>
    {{end}}

    {{if eq .Page.Appraisal.Kind "heuristic"}}
    <div class="alert alert-danger" role="alert">
    <strong>The heuristic parser was used to parse this result.</strong> This means that the format of the data you entered is unknown to Evepraisal and some guess-work was used to bring you the results below. Review closely for accuracy. If you think this is a format worth adding, <a href="https://github.com/evepraisal/go-evepraisal/issues/new?title=Unknown+Format&body=Appraisal+with+the+format:+{{.UI.BaseURLWithoutScheme}}/a/{{.Page.Appraisal.ID}}%0A%0A[Describe+the+format]" target="_blank">submit an issue on github</a>.
    </div>
    {{end}}

    <div class="pull-right">
      <p>
        <a href="/a/{{.Page.Appraisal.ID}}">{{.UI.BaseURLWithoutScheme}}/a/{{.Page.Appraisal.ID}}</a> |
        <a href="/a/{{.Page.Appraisal.ID}}.raw" target="_blank">Raw</a> |
        <a href="/a/{{.Page.Appraisal.ID}}.json" target="_blank">JSON</a>
      </p>
    </div>

    <div>
      <h4>
        <span class="nowrap">{{ prettybignumber .Page.Buyback.Totals.Buy }} <small>Buyback Offer for Reprocessed/Refined Minerals</small></span>
      </h4>
    </div>

    {{template "_buyback_table.html" .Page.Buyback }}

    <div>
      <p class="text-left"><strong>{{.Page.Appraisal.Kind}}</strong> priced in <strong>{{.Page.Appraisal.MarketName}}</strong> {{relativetime .Page.Appraisal.CreatedTime}}</p>
    </div>

    <div>
      <h4>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Totals.Sell }} <small>estimated sell value</small></span>
        <span class="nowrap">{{ prettybignumber .Page.Appraisal.Totals.Buy }} <small>estimated buy value</small></span>
      </h4>
    </div>

    {{template "_appraisal_table.html" .Page.Original }}

    <script type="text/javascript">
      window.history.replaceState({}, "", "/a/{{.Page.Appraisal.ID}}");
      $(document).ready(function() {
        $("#results").tablesorter({
          textExtraction : function(node, table, cellIndex){
              n = $(node);
              return n.attr('data-sort-value') || n.text();
          },
          headers: {
             0: { sorter: 'digit', sortInitialOrder: 'desc' },
             2: { sorter: 'digit', sortInitialOrder: 'desc' },
             3: { sorter: 'digit', sortInitialOrder: 'desc' },
             4: { sorter: 'digit', sortInitialOrder: 'desc' },
             5: { sorter: 'digit', sortInitialOrder: 'desc' }
          }
        });
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  </div>
</div>
{{end}}
{{template "_layout.html" .}}
