{{define "title"}}IP-Org Buyback / Evepraisal - Your Appraisal History{{end}}
{{define "content"}}
<div class="container">
  <h2>Your Appraisal History</h2>
  <table class="table table-condensed table-striped">
    <tr class="header">
      <th>ID</th>
      <th>Format</th>
      <th>Location</th>
      <th class="text-left">Created</th>
      <th class="text-right">Sell Value</th>
      <th class="text-right">Buy Value</th>
      <th class="text-right">Buyback Offer</th>
      <th class="text-center">Status</th>
      <th class="text-center">Visibility</th>
    </tr>
    {{range $item := .Page.History}}
    <tr>
      <td><a href="{{$item.Appraisal | appraisallink}}">{{$item.Appraisal.ID}}</a></td>
      <td>{{$item.Appraisal.Kind}}</td>
      <td>{{$item.Appraisal.MarketName}}</td>
      <td class="text-left">{{timefmt $item.Appraisal.CreatedTime}}<br/>{{relativetime $item.Appraisal.CreatedTime}}</td>
      <td class="text-right">{{commaf $item.Appraisal.Original.Totals.Sell}}</td>
      <td class="text-right">{{commaf $item.Appraisal.Original.Totals.Buy}}</td>
      <td class="text-right">{{commaf $item.Appraisal.BuybackOffer}}</td>
      <td class="text-center">{{ $item.Status.Summary }}</td>
      <td class="text-center">{{if $item.Appraisal.Private}}<span class="badge alert-info">Private</span>{{else}}<span class="badge badge-primary">Public</span>{{end}}</td>
    </tr>
    {{end}}
  </table>

  <nav aria-label="Navigate history">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="/user/history" aria-label="Latest">
          <span aria-hidden="true"><span class="glyphicon glyphicon-repeat"></span> Latest</span>
        </a>
      </li>
      <li class="page-item{{if not .Page.HasMore}} disabled{{end}}">
        <a class="page-link" href="{{.Page.Next}}" aria-label="Earlier">
          <span aria-hidden="true">Earlier <span class="glyphicon glyphicon-forward"></span></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
{{end}}
{{template "_layout.html" .}}
